<!-- <input #input (keyup.enter)="SelectPokemon(input.value)" type="number">
<div class="global">
    <div *ngIf="pokemonSelected" class="ntm" appBorderCard>
        <img src="{{pokemonSelected?.picture}}" alt="">
        <div class="tqt">
            <p class="name">{{pokemonSelected.name}}</p>
            <p><small>{{pokemonSelected.created | date:"dd/MM/yyyy"}}</small></p>
            <span *ngFor="let type of pokemonSelected.types" class="{{type | pokemonTypeColor}}">
                {{type}}
            </span>
        </div>
    </div>
</div>  
<p *ngIf="!pokemonSelected">
    Aucun pokémon trouvé !
</p> -->
<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">Pokédex</a>
    </div>
</nav>
<router-outlet></router-outlet>