/* You can add global styles to this file, and also import other style files */
img{
    width: 10vw;
    height: max-content;
}

.global{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ntm{
    width: 30vw;
    height: 20vh;
    box-shadow: 2px 2px 10px 2px grey;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 5px solid rgb(189, 218, 228);
    border-radius: 3px;
}
.tqt{
    width: 50%;
}

.name{
    text-transform: uppercase;
    font-weight: bold;
}

p{
    font-size: 1rem;
}